<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parseApplicationId</key>
	<string>REhp3lcpOG4DQSZONPkLFsAX7EsmEsPkWKmS5kBs</string>
	<key>parseClientKey</key>
	<string>Cw75uh4r9CuWCxC768DPHbnkVdg4SETlpI3mm991</string>
</dict>
</plist>
